
<!-- <div class="outer-product column is-3 product-list-item">
    <div class="box inner-product">
        <figure class="image is-4by3 mb-4">
            <a href="{% url 'product-view' product.category.slug product.slug %}">
                <img src="{{ product.get_thumbnail }}">
            </a>
        </figure>
        <h5 class="subtitle">{{ product.title|title }}</h5>
        <h6>{{ product.category.title|title }}</h6>
        <h3 class="price is-size-6 mt-1 mb-3">${{ product.price }}</h3>
    </div>
</div> -->